#header{
    background-color: #b4d8ff;
}
#inputAmount{
    width: 330px;
}
#paymentMethod{
    width: 310px;
    background-color: #5d6a61;
}
#footer{
    background-color: #e9e9f8 ;
}
#invalid-Message{
    visibility: visible;
    color:black;
}
.feedback{
    display: inline-block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    visibility: hidden;
}