#header{
    background-color: #f7f7f7;
}
#inputAmount{
    width: 330px;
}
#paymentMethod{
    width: 240px;
    background-color: #5d6a61;
}
#footer{
    background-color: #f7f7f7 ;
}
#invalid-Message{
    visibility: visible;
    color:black;
}
#aviso{
    background: #f8d7da;
    border-radius: 3px;
   
    
}
